<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.tum.in.i22.uc.pdp.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    
    <application>
        <service android:name=".pdpService">
                <intent-filter>
                        <action android:name="de.tum.in.i22.uc.pdp.android.pdpService"/>
                </intent-filter>
                <intent-filter>
                        <action android:name="de.tum.in.i22.uc.pdp.android.setPolicy"/>
                </intent-filter>
        </service>
        
    </application>

</manifest>
